html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  width: 50rem;
  max-width: 50rem;
  box-sizing: border-box;
  margin: 2rem auto;
  font-size: 1.6rem;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pointer {
  cursor: pointer;
}

.loader {
  width: 100%;
}

.button {
  padding: 0.3rem;
  border: none;
  outline: none;
  background: gray;
  color: #fff;
}
